extends layout

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href="/")
          img(alt="EasyAuth" src="...")  
      p.navbar-text.navbar-right 
        a.navbar-link(href="/logout") Logout
  div.container  
    div.center
      h1 Welcome!!
 
